body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
}

#app {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

#blog-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    align-items: center;
    left: 40px;
    background-color: rgba(255, 255, 255, 0.367);
    backdrop-filter: blur(10);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(11, 11, 11, 0.1);
}

#blog-form input,
#blog-form textarea,
#blog-form select {
    width: 80%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(241, 238, 238);
    color: black;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 150px;
    color: white;
    font-weight: bold;
}

button {
    background-color: green;
    border: none;
}

#btnn {
    background-color: red;
    border: none;
}

#blog-list {
    display: grid;
    gap: 10px;
}

.blog-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
    margin: 0 auto;
    width: 100%;
    background-image: url("itachi.jpg");
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-card {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.388);
    backdrop-filter: blur(10px);
    border: none;
    color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.blog-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}